In [3]:
import numpy as np
import pandas as pd

pd.read_csv('world.csv')

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [4]:
import numpy as np
import pandas as pd

world = pd.read_csv('world.csv')
world.info() #上面資料的說明書

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [15]:
world1 = world.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
world1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [16]:
taiwan = world1[world1["國家"] == '台灣']
taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [17]:
japan = world1[world1["國家"] =='日本']
japan

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本  2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本  2020-01-26        4      2  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [18]:
taiwan.query('日期>="2021-01-01" and 日期<="2021-01-31"')

        洲名  國家          日期  總確診數  新增確診數      總人口數  解封指數
164337  亞洲  台灣  2021-01-01   802      3  23855008  0.19
164338  亞洲  台灣  2021-01-02   808      6  23855008  0.19
164339  亞洲  台灣  2021-01-03   812      4  23855008  0.19
164340  亞洲  台灣  2021-01-04   815      3  23855008  0.18
164341  亞洲  台灣  2021-01-05   817      2  23855008  0.18
164342  亞洲  台灣  2021-01-06   819      2  23855008  0.18
164343  亞洲  台灣  2021-01-07   822      3  23855008  0.17
164344  亞洲  台灣  2021-01-08   825      3  23855008  0.17
164345  亞洲  台灣  2021-01-09   828      3  23855008  0.16
164346  亞洲  台灣  2021-01-10   828      0  23855008  0.16
164347  亞洲  台灣  2021-01-11   834      6  23855008  0.16
164348  亞洲  台灣  2021-01-12   838      4  23855008  0.16
164349  亞洲  台灣  2021-01-13   842      4  23855008  0.16
164350  亞洲  台灣  2021-01-14   842      0  23855008  0.16
164351  亞洲  台灣  2021-01-15   843      1  23855008  0.15
164352  亞洲  台灣  2021-01-16   851      8  23855008  0.14
164353  亞洲  台灣  2021-01-17   855      4  23855008  0.14
164354  亞洲  台灣  2021-01-18   862      7  23855008  0.15
164355  亞洲  台灣  2021-01-19   868      6  23855008  0.14
164356  亞洲  台灣  2021-01-20   870      2  23855008  0.14
164357  亞洲  台灣  2021-01-21   881     11  23855008  0.14
164358  亞洲  台灣  2021-01-22   881      0  23855008  0.14
164359  亞洲  台灣  2021-01-23   884      3  23855008  0.14
164360  亞洲  台灣  2021-01-24   889      5  23855008  0.14
164361  亞洲  台灣  2021-01-25   889      0  23855008  0.14
164362  亞洲  台灣  2021-01-26   890      1  23855008  0.13
164363  亞洲  台灣  2021-01-27   893      3  23855008  0.12
164364  亞洲  台灣  2021-01-28   895      2  23855008  0.12
164365  亞洲  台灣  2021-01-29   899      4  23855008  0.11
164366  亞洲  台灣  2021-01-30   909     10  23855008  0.11
164367  亞洲  台灣  2021-01-31   911      2  23855008  0.11

In [19]:
taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [24]:
taiwan.sort_values(by='新增確診數',ascending=False)[:5]

        洲名  國家          日期     總確診數   新增確診數      總人口數    解封指數
164835  亞洲  台灣  2022-05-14   699824  128954  23855008   46.24
164830  亞洲  台灣  2022-05-09   397504  128935  23855008   25.86
164848  亞洲  台灣  2022-05-27  1735067   94796  23855008  116.08
164840  亞洲  台灣  2022-05-19  1070561   89420  23855008   71.25
164846  亞洲  台灣  2022-05-25  1558380   89361  23855008  104.15

In [26]:
japan.query('新增確診數>=50000')

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86357  亞洲  日本  2022-01-22  2125882   54411  126050796  99999.0
86360  亞洲  日本  2022-01-25  2282871   62489  126050796  99999.0
86361  亞洲  日本  2022-01-26  2354358   71487  126050796  99999.0
86362  亞洲  日本  2022-01-27  2433094   78736  126050796  99999.0
86363  亞洲  日本  2022-01-28  2514804   81710  126050796  99999.0
86364  亞洲  日本  2022-01-29  2599599   84795  126050796  99999.0
86365  亞洲  日本  2022-01-30  2677602   78003  126050796  99999.0
86366  亞洲  日本  2022-01-31  2738460   60858  126050796  99999.0
86367  亞洲  日本  2022-02-01  2820053   81593  126050796  99999.0
86368  亞洲  日本  2022-02-02  2914824   94771  126050796  99999.0
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0
86370  亞洲  日本  2022-02-04  3117346   98177  126050796  99999.0
86371  亞洲  日本  2022-02-05  3219621  102275  126050796  99999.0
86372  亞洲  日本  2022-02-06  3309439   89818  126050796  99999.0
86373  亞洲  日本  2022-02-07  3377378   67939  126050796  99999.0
86374  亞洲  日本  2022-02-08  3478462  101084  126050796  99999.0
86375  亞洲  日本  2022-02-09  3576261   97799  126050796  99999.0
86376  亞洲  日本  2022-02-10  3675865   99604  126050796  99999.0
86377  亞洲  日本  2022-02-11  3774164   98299  126050796  99999.0
86378  亞洲  日本  2022-02-12  3842551   68387  126050796  99999.0
86379  亞洲  日本  2022-02-13  3919931   77380  126050796  99999.0
86380  亞洲  日本  2022-02-14  3979984   60053  126050796  99999.0
86381  亞洲  日本  2022-02-15  4064142   84158  126050796  99999.0
86382  亞洲  日本  2022-02-16  4155027   90885  126050796  99999.0
86383  亞洲  日本  2022-02-17  4250142   95115  126050796  99999.0
86384  亞洲  日本  2022-02-18  4337780   87638  126050796  99999.0
86385  亞洲  日本  2022-02-19  4419254   81474  126050796  99999.0
86386  亞洲  日本  2022-02-20  4490748   71494  126050796  99999.0
86387  亞洲  日本  2022-02-21  4542657   51909  126050796  99999.0
86388  亞洲  日本  2022-02-22  4612104   69447  126050796  99999.0
86389  亞洲  日本  2022-02-23  4692406   80302  126050796  99999.0
86390  亞洲  日本  2022-02-24  4753558   61152  126050796  99999.0
86391  亞洲  日本  2022-02-25  4819151   65593  126050796  99999.0
86392  亞洲  日本  2022-02-26  4891242   72091  126050796  99999.0
86393  亞洲  日本  2022-02-27  4954865   63623  126050796  99999.0
86394  亞洲  日本  2022-02-28  5005881   51016  126050796  99999.0
86395  亞洲  日本  2022-03-01  5071249   65368  126050796  99999.0
86396  亞洲  日本  2022-03-02  5143818   72569  126050796  99999.0
86397  亞洲  日本  2022-03-03  5214086   70268  126050796  99999.0
86398  亞洲  日本  2022-03-04  5277655   63569  126050796  99999.0
86399  亞洲  日本  2022-03-05  5341246   63591  126050796  99999.0
86400  亞洲  日本  2022-03-06  5395143   53897  126050796  99999.0
86402  亞洲  日本  2022-03-08  5486083   53938  126050796  99999.0
86403  亞洲  日本  2022-03-09  5549755   63672  126050796  99999.0
86404  亞洲  日本  2022-03-10  5610818   61063  126050796  99999.0
86405  亞洲  日本  2022-03-11  5666630   55812  126050796  99999.0
86406  亞洲  日本  2022-03-12  5721856   55226  126050796  99999.0
86407  亞洲  日本  2022-03-13  5772715   50859  126050796  99999.0
86409  亞洲  日本  2022-03-15  5855769   50695  126050796  99999.0
86410  亞洲  日本  2022-03-16  5913591   57822  126050796  99999.0
86411  亞洲  日本  2022-03-17  5967069   53478  126050796  99999.0
86424  亞洲  日本  2022-03-30  6504032   53609  126050796  99999.0
86425  亞洲  日本  2022-03-31  6555585   51553  126050796  99999.0
86431  亞洲  日本  2022-04-06  6830997   54761  126050796  99999.0
86432  亞洲  日本  2022-04-07  6885876   54879  126050796  99999.0
86433  亞洲  日本  2022-04-08  6937720   51844  126050796  99999.0
86434  亞洲  日本  2022-04-09  6990349   52629  126050796  99999.0
86438  亞洲  日本  2022-04-13  7179839   57666  126050796  99999.0
86439  亞洲  日本  2022-04-14  7235040   55201  126050796  99999.0